<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>title</param-name>
        <param-value>Gestion Absences et Notes</param-value>
    </context-param>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>fr.iut2.tc4.projet.controleur.Controller</servlet-class>
        <init-param>
            <param-name>urlAddEtudiant</param-name>
            <param-value>/addEtudiant.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>urlAddNote</param-name>
            <param-value>/addNoteEtudiant.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>urlAddAbsence</param-name>
            <param-value>/addAbsence.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>urlAddAbsenceEtudiant</param-name>
            <param-value>/addAbsenceEtudiant.jsp</param-value>
        </init-param>
         <init-param>
            <param-name>urlModifAnEtudiant</param-name>
            <param-value>/modifAnEtudiant.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>urlModifNoteEtudiant</param-name>
            <param-value>/modifNoteEtudiant.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>urlModifAllAbsence</param-name>
            <param-value>/modifAllAbsences.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>urlViewAllAbsence</param-name>
            <param-value>/viewAllAbsences.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>urlViewAllMatiere</param-name>
            <param-value>/viewAllMatiere.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>urlViewAllControle</param-name>
            <param-value>/viewAllControle.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>urlViewEtudiant</param-name>
            <param-value>/viewEtudiant.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>urlViewAnEtudiant</param-name>
            <param-value>/viewAnEtudiant.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>urlViewAnControle</param-name>
            <param-value>/viewAnControle.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>urlModifAnControle</param-name>
            <param-value>/modifAnControle.jsp</param-value>
        </init-param>
         <init-param>
            <param-name>urlModifAllMatiere</param-name>
            <param-value>/modifAllMatiere.jsp</param-value>
        </init-param>
          <init-param>
            <param-name>urlAddControle</param-name>
            <param-value>/addControle.jsp</param-value>
        </init-param>
          <init-param>
            <param-name>urlAddControleMatiere</param-name>
            <param-value>/addControleMatiere.jsp</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/do/*</url-pattern>
    </servlet-mapping>



    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    	<servlet>
		<servlet-name>ServletInit</servlet-name>
		<servlet-class>fr.iut2.tc4.projet.ServletInit</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
    <welcome-file-list>
<welcome-file> viewEtudiant.jsp </welcome-file>
</welcome-file-list>
    </web-app>
