/* 
    Document   : gestion
    Created on : 1 déc. 2010, 22:19:14
    Author     : Michael
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
body{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:30%;
}
.table{
    background-color:#DDDDDD;
border:3px solid #003366;
border-collapse:separate;
}
.table td{
    background-color:#66CCCC;
    border:1px solid #000099;
    padding:5px;
}
.titre_etudiant{
   -moz-border-radius:15px 15px 15px 15px;
    -moz-box-shadow:3px 3px 0 #AAAAAA;
    background-color:#DEEDF7;
    border:1px solid #AED0EA;
    margin:5px 0 26px 112px;
    padding:7px;
    width:-moz-max-content;
    font-size:23px;
    
}

